/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../img/fundosite.png');
    background-size: auto 100vh;
    font-family: 'Anonymous Pro', monospace;
    font-size: 12px;
    height: 100vh;
    color: #fff;
  }
  /* se a tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px){
    body {
      font-size: 14px;
    }
}

/* breakpoint*/
@media (min-width: 600px){
  body {
    font-size: 18px;
  }
}

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #FFF;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
.menu a {
  
  display: block;
  padding: 10px 20px;
}
  a {
    color: #A6a6a6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: #7e0062;
  }

  .site-title {
    font-size: 4em;
    font-family: 'Merienda', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'Nova Mono', monospace;
    line-height: 1.8em;
  }

  .portfolio {
    padding: 2em;
  }
  
  .portfolio h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFF;
    margin-bottom: 1.5em;
    font-size: 3.5em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px){
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }
  
      /* É possivel aplicar a propriedade grid-template-columns: 240px 240px 240px; assim
      ou cria uma função para não precisar repetir o numero de colunas*/
  @media (min-width: 880px){
    .portfolio .grid {
      grid-template-columns: repeat(3, 240px);
      align-content: center;
      justify-content: center;
      height: 100vh;
    
    }
  }

  @media (min-width: 1200px){
    .portfolio .grid {
      grid-template-columns: repeat(4, 260px);
      justify-content: space-around;
    }
  }

  
  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  

 